* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .container {
    width: 95%;
    margin:auto;
    font-family: Helvetica, sans-serif;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .row{
    display:flex;
    flex-wrap:wrap;
    background-color: #efc989;
    width:34%;
  }
  .col{
    padding:27px;
    color:white;
  }
  .con1{
    background-color: black;
    color:white;
    padding:10px;
    width:100px;
    margin:15px 0;
    border-radius: 10px;
  }
  .con1 p{
    font-size: 15px;
  }
  img{
    width:100%;
    vertical-align: middle;
  }
  .col-card{
    border:1px solid #dd8b7952;;
    box-shadow:rgba(0, 0 ,0 , 0.5) -20px 30px 25px -10px;
    border-radius:3px;
  }
  .two{
    margin-right: 10px;
  }
  h2{
    padding:8px 0;
  }
  .logo2{
    display:flex;
    margin:10px 0;
  }
  .kill{
    color:yellow;
  }
  .logo{
    width:40px;
    color:white;
    text-align:center;
    border-radius: 10px;
    padding:2px 8px;
  }
.con{
  background-color: #14a316cc;
  padding:10px 12px 26px  17px;
}
button{
  border:none;
  width:20px;
  height: 20px;
  border-radius: 50px;
  margin:8px 10px 0 0;
}
p b{
  margin:8px 10px 0 0;
  color:white;
}
p s{
  margin:0px 0px 0 25px;
  color:white;
}
